header, nav, .main_part, .sidebar, .advertise, footer{
    background-color: rgb(243, 195, 136);
    border: 2px solid rgb(105, 60, 2);
    margin: 4px;
    padding: 10px;
}
header{
    grid-area: h;
}nav{
    grid-area: n;
}.main_part{
    grid-area: m;
}.sidebar{
    grid-area: side;
}.advertise{
    grid-area: ad;
}footer{
    grid-area: f;
}



body{
    display: grid;
    grid-template-areas: 
   " h  h   h   h   h   h   h   h"
   "n   m   m   m   m   m   side  side"
   "n   m   m   m   m   m   ad  ad"
   "f   f   f   f   f   f   f   f"
    ;
}

/* responsive part  for small device*/

@media screen and (max-width: 576px) {
    body{
        display: grid;
        grid-template-areas: 
       " h  "
       "n  "
       "m  "
       "side"
       "ad"
       "f "
        ;
    }
}

/* responsive part  for medium device*/

@media screen and (min-width: 576px) and (max-width: 996px) {
    body{
        display: grid;
        grid-template-areas: 
       " h      h   h "
       "n       n    n"
       "side    m   m "
       "ad      f   f"
        ;
    }
nav{
    display: flex;
    justify-content: space-between;
}
}
